<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Team.project.dao.AssignmentSubmitDao">

  <resultMap type="AssignmentSubmit" id="AssignmentSubmitMap">
  <id column="assignment_no" property="assignmentNo"/>
  <id column="member_no" property="memberNo"/>
  <result column="file" property="file"/>
  <result column="score" property="score"/>
  <result column="content" property="content"/>
  <result column="feedback" property="feedback"/>
  <result column="create_date" property="createDate"/>
  
  <association property="user" javaType="User">
        <id column="user_no"   property="userNo"/>
        <result column="name"  property="name"/>
  </association>
  
  <association property="clazzMember" javaType="ClazzMember">
    <id column="member_no" property="memberNo"/>
    <result column="class_no"  property="clazzNo"/>
  </association>
  
  <association property="assignment" javaType="Assignment">
    <id column="assignment_no" property="assignmentNo"/>
    <result column="title"  property="title"/>
  </association>
  
  </resultMap>

  <select id="findAll" resultMap="AssignmentSubmitMap" parameterType="int">
     select u.name, m.member_no,  ass.assignment_no, a.content,  a.score, ass.title,             
GROUP_CONCAT(IF(a.assignment_no=#{assignmentNo}, a.score, Null))as '과제8'        
from user u, class_member m, assignment_submmit a, assignment ass       
where u.user_no=m.user_no       
and a.member_no=m.member_no       
and ass.assignment_no = a.assignment_no 
and m.class_no=#{clazzNo}
and m.member_no=#{memberNo}
      
group by u.name       
order by m.member_no asc; 
  </select>
<!-- 
  <select id="findAllUserName" resultMap="AssignmentSubmitMap">
  select 
  u.name, 
  a.score, 
  m.class_no, 
  a.assignment_no
  from user u, class_member m, assignment_submmit a
  where 
  u.user_no=m.user_no and a.member_no=m.member_no and m.class_no=#{classNo}
  order by u.name asc;
  </select>
 -->

</mapper>