<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Team.project.dao.AssignmentDao">

<resultMap type="Assignment" id="AssignmentMap">
    <id column="assignment_no" property="assignmentNo"/>
    <result column="class_no" property="classNo"/>
    <result column="member_no" property="memberNo"/>
    <result column="title" property="title"/>
    <result column="content" property="content"/>
    <result column="file" property="file"/>
    <result column="deadline" property="deadline"/>
    <result column="standard" property="standard"/>
    <result column="create_date" property="createDate"/>
</resultMap>

<select id="findByClassNo" resultMap="AssignmentMap" parameterType="int">
  select * from assignment
  where class_no = #{no}
</select>
</mapper>