<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Team.project.dao.AssignmentSubmitDao">

  <resultMap type="AssignmentSubmit" id="AssignmentSubmitMap">
  <id column="assignment_no" property="assignmentNo"/>
  <id column="member_no" property="memberNo"/>
  <result column="file" property="file"/>
  <result column="score" property="score"/>
  <result column="content" property="content"/>
  <result column="feedback" property="feedback"/>
  <result column="create_date" property="createDate"/>
  </resultMap>

  <select id="findAllByUserNo" resultMap="AssignmentSubmitMap" parameterType="map">
  select
    c.class_no,
    a.assignment_no,
    a.title,
    cm.member_no,
    cm.user_no,
    ass.score
  from
    class c
    left outer join assignment a on c.class_no = a.class_no
    left outer join class_member cm on c.class_no = cm.class_no
    left outer join assignment_submit ass on a.assignment_no = ass.assignment_no and cm.member_no = ass.member_no
  where 
    c.class_no = #{classNo} and cm.user_no = #{userNo} and cm.role=1
  order by a.assignment_no
  </select>

  <insert id="insert" parameterType="AssignmentSubmit">
    insert into assignment_submit(assignment_no, member_no, file, content)
    values(#{assignmentNo}, #{memberNo}, #{file}, #{content})
  </insert>
  
  <select id="findByAssignmentNoAndMemberNo" resultMap="AssignmentSubmitMap">
    select *
    from assignment_submit
    where assignment_no = #{assignmentNo} and member_no = #{memberNo}
  </select>
  
  <update id="update" parameterType="AssignmentSubmit">
    update assignment_submit
    <set>
      <if test="content != null and content != ''">content = #{content},</if>
      <if test="file != null and file != ''">file = #{file}</if>
    </set>
    where assignment_no = #{assignmentNo} and member_no = #{memberNo}
  </update>
  
  
</mapper>