<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Team.project.dao.MultipleDao">

  <resultMap type="Multiple" id="MultipleMap">
    <id column="multiple_no"  property="multipleNo"/>
    <result column="no"  property="no"/>
    <result column="content"  property="content"/>
  </resultMap>
  
  <select id="findAll" resultMap="MultipleMap" parameterType="int">
    select * from multiple
    where question_no = #{qno}
  
  </select>
  
  
  <select id="getAnswer" resultMap="MultipleMap" parameterType="map">
    select
      *
    from 
      multiple
    where 
      question_no = #{qNO} and multiple_no = #{mNo}
  </select>
  
  
  
</mapper>
