<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--  -->
  
<mapper namespace="Team.project.dao.PostDao">

  <resultMap type="Post" id="PostMap">
      <id column="post_no" property="postNo"/>
      <result column="board_no" property="boardNo"/>
      <result column="member_no" property="memberNo"/>
      <result column="title" property="title"/>
      <result column="content" property="content"/>
      <result column="create_date" property="createDate"/>
      <result column="file" property="file"/>   
    <association property="board" javaType="board">
      <id column="board_no" property="boardNo"/>
      <result column="boardTitle" property="title"/>
      <result column="class_no" property="classNo"/>
      <result column="notice" property="notice"/>
    </association>
  </resultMap>
  
  <sql id="sleect1">
    select
      post_no,
      title,
      content
      create_date
  </sql>
  
  <select id="findAll" resultMap="PostMap" parameterType="int">
    select
      *
    from post
    where
     board_no = #{no}
  </select>
    

  <select id="compare" resultMap="PostMap" parameterType="int">
    select
      post_no
      board_no
    from
      post
    where
      post_no = board_no
  </select>  
  

  <select id="findList" resultMap="PostMap" parameterType="int">
    select
      p.post_no,
      p.board_no,
      p.member_no,
      p.title,
      p.content,
      p.create_date,
      p.file,
      b.class_no,
      b.title as boardTitle
    from 
      post p
    join board b on p.board_no = b.board_no
    where class_no=#{no} and b.notice=true
  </select>

<!-- where no = controller 에서 받는 no -->
 <!-- select * from board where class_no = 1 and title = "공지사항"; -->
  

</mapper>




























