  .container {
    display:flex;
    width:100%;
    height:100%;
  }
  
  .main_list {
    margin-top: 7em;
    padding-left: 3em;    
    width:90%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    min-width:500px;
    justify-content: flex-start;
    }
    
  .main_card {
    width: 18em;
    height: 18em;
    border: thin solid rgba(0, 0, 0, 0.5);
    margin: 0.5em;
    border-radius: 1em;
  }
  .main_name{
    padding: 1em;
    border: thin solid rgba(0, 0, 0, 0.5);
    border-radius: 1em 1em 0% 0%;
    display: flex;
    flex-direction: column;
    height:6em;
    background-color: darkslategrey;
  }
  .main_name>a {
    font-size: 1.3em;
  }
  .main_name>span {
    font-size: small;
  }
  .main_name>* {
    text-decoration: none;
    color: white;
  }

  .description {
    padding: 1em;
  }
  
  .main_header {
    background-color: white;
    z-index: 100;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0%;
    width: 100%;
    height: 5em;
    border-bottom: thin solid black;
  }
   .main_header>span:first-child {
    margin-left:2em;
  }
  .main_header>span:last-child {
    margin-right:2em;
  }